<header>
    <h1>Barre espace pour prendre une photo</h1>
    <p>flèche gauche pour en reprendre une, ou flèche droite pour uploader la photo</p>
</header>
<div id="videocontainer">
    <video id="video"></video>
</div>
<canvas id="canvas"></canvas>
<div id="controls">
    <button id="resetbutton">&lt; reprendre une photo&hellip;</button>
    <button id="uploadbutton">uploader cette photo &gt;</button>
</div>
<div id="cover"></div>
<div id="uploading">Uploading&hellip;</div>
<div id="uploaded">
    <form id="imgurform">
        Uploaded:
        <input type="text" id="url">
        <a href="#">link</a>
    </form>
    <button id="startbutton">&lt;prendre une autre photo</button>
</div>
