/*Général (Akbar)*/

body, html {
    font-family: "Open Sans", helvetica, sans-serif;
}

.retourAdmin {
  margin : 20% 10% 10% 10%;
    font-size: 16px;
    font-weight: bold;
    vertical-align: middle!important;
    text-align: center;
}

.retourAdmin2 {
    margin : 20% 10% 10% 10%;
    font-size: 16px;
    font-weight: bold;
    vertical-align: middle!important;
    text-align: center;
}
/* Navbar */

h2 {
    font-size: 10px;
    margin: 0
}

.logo {
    margin-top: 10px;
}

.buttonnews {
    text-align: center;
}

#burger{
    margin-right :35px;
}

.dropdown-content li a {

  color: white;
}


/* footer */

.center-btn {
    text-align: center
}

#iconFacebook {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 25%;
    left: 8%;
}

#iconTwitter {
    height: 30px;
    width: 40px;
    position: absolute;
    top: 25%;
    left: 25%;
}

footer {
    max-width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 100
}

.camera {
    height: 60px;
    width: 60px;
    position: absolute;
}

/*accueil.html*/

#banner {
    max-width: 100%;
    border-bottom: 3px solid black

}
/*form.html*/


#presentationform {
    text-align: center;
    padding: 0;
    font-size: 30px;
    font-weight: bold;
}

.form {
    text-align: center;
}

#parcourir {
    font-size: 16px;
}

.champs {
    margin: 10%;
}

#envoyer {
    margin: 10%;
    font-size: 22px;
}

#stachebouton {
<<<<<<< HEAD
    margin: 0;
    padding: 0;
=======
    margin-top: 40px;
    padding: 10px;
>>>>>>> sylvain
    width: 250px;
    height: 20px;
}

/*newsletter.html*/

#textnews {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 0 10% 10% 10%;
    text-align: center;
}

.boutonenvoyer{
    margin: 10% 10% 20% 10%;
}
